
.flex-container {
    display: flex;
    background-color: rgba(106, 28, 207, 0.377);
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 5rem;
    height: 100px;
    text-align: center;
    align-content: space-between;
}
.imagens{
    width: 100px;
}
.texto{
    color: rgb(41, 173, 129);
}
